@{ 
    Layout = null;

    

}

<h1>My Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No Cheeses yet!</p>
}

<ul>
    @foreach(string cheese in ViewBag.cheeses)
    {
        <li>@cheese</li>
    }


</ul>